.background-containerr {
  position: relative;
  width: 100vw;        /* full viewport width */
  height: 100vh;       /* full viewport height */
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(43, 39, 39);
  
}

.background-containerr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;        /* ensure it covers full width */
  height: 100vh;       /* ensure it covers full height */
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;        /* background opacity only */
  z-index: 0;
}

.background-content {
  position: relative;
  z-index: 1;
  display:flex ;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 2rem;
  padding-top: 120px;

}

.center-box {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* 50% transparent background only */
  padding: 2rem 2rem;
  border-radius: 1rem;
  z-index: 1;
  text-align: center;
  aspect-ratio: 1 / 1;
  height:60vh
}

.center-box p {
  color: rgb(255, 251, 251); /* Text remains fully opaque */
  opacity: 1;
  font-size: 1.5em;
  
  

}






