.top-header {
  display: flex;
  justify-content: space-between;
  top: 10px;
  left: 5px;
  right: 5px;
  align-items: center;
  height: 60px;
  padding: 20px 20px ;
  z-index: 2;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  position: absolute;
}

.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.nav-item.active {
  font-weight: bold;
}

.marker {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #fff;
  transition: 0.3s;
}

.brand{
  color: white;
  font-size: 2rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-item-login-btn {
    background-color: #ff3f6c;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px 18px;
    transition: all 0.3s ease;
}

/* Optional hover effect */
.nav-item-login-btn:hover {
    background-color: white;
    color: #ff3f6c;
    border: 2px solid #ff3f6c;
    transform: scale(1.05);
}

